/*===============*/
/*global styles*/
/*===============*/

body {
	font-size: 18px;
	font-family: 'Lato', 'Roboto', sans-serif;
	word-spacing: 0.05em;
	letter-spacing: 0.03em;
	line-height: 1.4;
	color: #737373;
}

img {
	border-radius: 3px;
}

/*===============*/
/*header*/
/*===============*/
header {
	display: flex;
	justify-content: space-between;
	height: 64px;
}

.logo {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

nav ul {
	display: flex;
	margin-right: 24px;
}

ul li  {
	margin-left: 16px;
	padding: 19px 23px;
	text-decoration: none;
	color: #000;
	transition: background-color 500ms ease-in-out,
				color 500ms ease-in-out;
}

ul li:hover {
	background-color: blue;
	color: #fff;
}

a {
	text-decoration: none;
}

#logoimg {
	margin-left: 24px;
	height: 40px;
}

.colmar {
	font-weight: 500;
}

.academy {
	color: #b3b3b3;
}

.mobileNav {
	display: none;
}

@media all and (max-width: 480px) {
	.colmar,
	.academy {
		display: none;
	}

	#logoimg {
		height: auto;
		margin: 0;
	}

	header {
		display: block;
	}

	.mobileNav {
		display: flex;
		justify-content: space-around;
		height: 64px;
		align-items: center;
	}

	.logo {
		display: none;
	}

	.mobileDiv {
		display: none;
	}
}


/*===============*/
/*bannersection*/
/*===============*/
#bannerId {	
	background-color: #e6e6e6;
}

.bannerSection {
	display: flex;
	align-items: center;
}

.bannerImgContainer {
	width: 60%;
	margin: 24px 32px;
}

.banner {
	width: 100%;
	border-radius: 3px;
}

.bannerText {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.bannerText h1 {
	font-size: 3.7rem;
	font-weight: 700;
	margin-left: 24px;
	color: #737373;
}

.bannerText h2 {
	margin-top: 25px;
	font-size: 2rem;
	margin-left: 24px;
	font-weight: 500;
	color: #737373;
}

.bannerText button {
	width: 60%;
	margin: 25px auto;
	padding: 20px 0 20px 0;
	background-color: #80bfff;
	border: 0;
	color: #fff;
	font-size: 1rem; 
	transition: background-color 300ms ease-in-out;
	cursor: pointer;
}

.bannerText button:hover {
	background-color: #4da6ff;
}

@media all and (max-width: 480px) {
	#bannerId {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bannerText {
		width: 100%;
	}

	.bannerSection {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.bannerText h2 {
		font-size: 1rem;
		font-weight: 500;
	}

	.bannerText h1 {
		font-size: 2rem;
		font-weight: 500;
	}

	.bannerImgContainer {
		margin-bottom: 32px;
		width: 100%;
	}

	.bannerText button {
		width: 80%;
		border-radius: 3px;
	}
	
}

/*===============*/
/*Information Section*/
/*===============*/

#information {
	display: flex;
}

@media all and (max-width: 480px) {
	#information {
		border-bottom: 1px solid #cccccc;
		margin: 0 10px 0 10px;
	}
}

.infoSection {
	display: flex;
	flex-direction: column;
	width: 65%;
	margin: 32px 32px;
}

@media all and (max-width: 480px) {
	.infoSection {
		display: none;
	}
}

.infoImgContainer,
.infoContainer {
	width: 100%;
}

.infoMainPic {
	width: 100%;
}

.asideImgContainer{
	width: 35%;
	padding: 0 16px;
}

@media all and (max-width: 480px) {
	.infoBlockAsidePic {
		display: none;
	}

	.asideImgContainer {
		width: 100%;
		padding: 16px 16px;
	}
}

.mobileImgAside {
	display: none;
}

@media all and (max-width: 480px) {
	.mobileImgAside {
		display: block;
		width: 100%;
	}
}

.asideImgContainer img {
	width: 100%;
}

.infoAsideBlocks {
	display: flex;
	transition: background-color 750ms ease-in-out;
}

@media all and (max-width: 480px) {
	.infoAsideBlocks {
		display: block;
		width: 90%;
		align-self: center;
	}

	.asideImgContainer img {
		border-radius: 3px;
	}

	.asideImgContainer {
		width: 90%;
	}
}

.infoAsideBlocks:hover {
	background-color: #a6a6a6; 
}

.asideInfo {
	padding-top: 32px;
	width: 40%;
	border-left: 1px solid #e6e6e6;
}

@media all and (max-width: 480px) {
	.asideInfo {
		display: flex;
		flex-direction: column;
		border: none;
	}

	.asideInfo {
		width: 100%;
	}

	.infoAsideBlocks:hover {
		background-color: #fff;
	}
}

.infoDescription {
	align-self: center;
	width: 50%;
}

.infoDescription h4 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 8px;
}

.infoDescription p {
	margin-bottom: 8px;
}

@media all and (max-width: 480px) {
	.infoDescription {
		width: 90%;
		padding: 16px 0 64px 32px;
	}
}

.asideImg {
	margin: 16px;
}

.infoSection h2 {
	font-size: 3rem;
	font-weight: 600;
	color: #737373;
	margin: 32px 0 24px 0;
}

.mainInfoParagraph {
	font-size: 1.2rem;
	margin-bottom: 26px;
}

.infoSectionSource {
	font-size: 0.9rem;
	font-weight: 500;
	margin-bottom: 32px;
}

/*===============*/
/*Courses        */
/*===============*/

#courses {
	background-color: #e6e6e6;
}

@media all and (max-width: 480px) {
	#courses {
		background-color: #fff;
	}
}

#courses h2 {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 600;
	color: #737373;
	padding-top: 32px;
}

.courseBannerImages {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.courseImageContainer {
	background-color: #FFF;
	max-width: 532px;
	margin: 32px 0 32px 0;
	border-radius: 3px;
}

.img img {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.courseInformation h4 {
	font-size: 2.5rem;
	font-weight: 500;
	padding: 16px;
}

.courseInformation p {
	padding: 16px;
}

@media all and (max-width: 480px) {
	.img {
		display: none;
	}

	.courseImageContainer {
		margin: 5px;
	}

	.courseInformation {
		background-color: #cccccc;
		width: 90%;
		margin: 0 auto;
		border-radius: 3px;
	}

	.courseInformation h4 {
		font-size: 1.5rem;
		text-align: left;
		padding: 24px 0 16px 16px;
	}

	.courseBannerImages {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		border-bottom: 1px solid #cccccc;
		padding-bottom: 32px; 
		margin: 16px 10px 10px 10px;
	}

	.courseInformation p {
		display: none;
	}
}

/*===============*/
/*History        */
/*===============*/

.historySection h2 {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 600;
	color: #737373;
	padding: 32px 0 32px 0;
}

video,
.videoParagraph {
	width: 100%;
	margin: 0 24px;
}

.videoParagraph h4 {
	font-size: 1.9rem;
	font-weight: 900;
	margin: 24px 0 8px 0;
}

.videoParagraph p {
	margin-bottom: 32px;
 	font-size: 1.5rem
}


.video {
	display: flex;
	flex-direction: column;
	width: 60%;
}

@media all and (max-width: 480px) {
	.video {
		display: block;
		width: 100%;
	}

	video {
		margin: 0;
	}

	.videoParagraph {
		display: none;
	}
}

.videoContainer {
	display: flex;
}

.asideVideoBlock {
	display: flex;
	transition: background-color 750ms ease-in-out;
}

.asideVideoBlock:hover {
	background-color: #a6a6a6;
}

.asideVideoDescription {
	align-self: center;
}

.asideVideoDescription h5 {
	font-size: 1.5rem;
	font-weight: 500;
}

.asideVideoDescription p {
	font-size: 1.1rem;
	margin: 16px 0 16px 0;
}

.videoAsideContainer {
	margin-left: 32px;
}

@media all and (max-width: 480px) {
	.videoAsideContainer {
		display: none;
	}
}

.asideVideoImg {
	padding: 16px;
	width: 35%;
}

.asideVideoImg img {
	width: 100%;
}

/*===============*/
/*Footer         */
/*===============*/

footer {
	display: flex;
	border-top: 1px solid #a6a6a6;
	justify-content: space-between;
	height: 64px;
}



footer p,
.links {
	font-size: 0.9rem;
	padding: 16px 24px 0 24px;
}

.links a{
	margin-right: 16px;
}

@media all and (max-width: 480px) {
	.links {
		display: none;
	}

	footer {
		margin: 30px 10px 16px 10px;
		height: auto;
	}
}










 



