/*===============*/
/*global styles*/
/*===============*/

body {
	font-size: 18px;
	font-family: 'Lato', 'Roboto', sans-serif;
	word-spacing: 0.05em;
	letter-spacing: 0.03em;
	line-height: 1.4;
}

/*.siteContainer {
	width: 960px;
	margin: 0 auto;
}
*/
/*===============*/
/*header*/
/*===============*/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
}

header .logo {
	display: flex;
	align-items: center;
}

nav ul {
	display: flex;
	margin-right: 24px;
}

ul li  {
	margin-left: 16px;
	padding: 19px 23px;
	text-decoration: none;
	color: #000;
	transition: background-color 500ms ease-in-out,
				color 500ms ease-in-out;
}

ul li:hover {
	background-color: blue;
	color: #fff;
}

a {
	text-decoration: none;
}

#logoimg {
	margin-left: 24px;
	height: 40px;
}

.colmar {
	font-weight: 500;
}

.academy {
	color: #b3b3b3;
}


/*===============*/
/*bannersection*/
/*===============*/
#bannerId {	
	background-color: #e6e6e6;
}

.bannerSection {
	display: flex;
	/*width: 100%;*/
	align-items: center;
}

.banner {
	width: 60%;
	margin: 24px 32px;
}

.bannerText {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.bannerText h1 {
	font-size: 3.7rem;
	font-weight: 700;
	margin-left: 24px;
	color: #737373;
}

.bannerText h2 {
	margin-top: 25px;
	font-size: 2rem;
	margin-left: 24px;
	font-weight: 500;
	color: #737373;
}

.bannerText button {
	width: 60%;
	margin: 25px auto;
	padding: 20px 0 20px 0;
	background-color: #80bfff;
	border: 0;
	color: #fff;
	font-size: 1rem; 
	transition: background-color 300ms ease-in-out;
	cursor: pointer;
}

.bannerText button:hover {
	background-color: #4da6ff;
}

/*===============*/
/*Information Section*/
/*===============*/

#information {
	display: flex;
}

.infoSection {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 32px 32px;
}

.infoAsideBlocks {
	display: flex;
	/*flex: 0 1 auto;*/
}

.asideInfo {
	padding-top: 32px;
	width: 40%;
	border-left: 1px solid #e6e6e6;
}

.infoDescription {
	align-self: center;
	width: 50%;
}

.infoDescription h4 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 8px;
}

.infoDescription p {
	margin-bottom: 8px;
}

.infoBlockAsidePic {
	height: auto;
	width: 35%;
	padding: 0px 16px 16px 16px;
	flex: 1;
}

.guestLecture {
	background-color: #e6e6e6;
	padding-top: 16px;
}

.infoOneTwo {
	margin-bottom: 16px;
}

.infoSection h2 {
	font-size: 3rem;
	font-weight: 600;
	color: #737373;
	margin: 32px 0 24px 0;
}

.mainInfoParagraph {
	font-size: 1.2rem;
	margin-bottom: 26px;
}

.infoSectionSource {
	font-size: 0.9rem;
	font-weight: 500;
	margin-bottom: 32px;
}

/*.picture-container {
	width: 100%;
	overflow: hidden;
}

.picture-container img {
	max-width: 35%;
}*/





 



