/*===============*/
/*global styles*/
/*===============*/

body {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

/*===============*/
/*header*/
/*===============*/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
}

header .logo {
	display: flex;
	align-items: center;
}

nav ul {
	display: flex;
	margin-right: 24px;
}

ul li  {
	margin-left: 16px;
	padding: 23px;
	text-decoration: none;
	color: #000;
	transition: background-color 500ms ease-in-out,
				color 500ms ease-in-out;
}

ul li:hover {
	background-color: blue;
	color: #fff;
}

a {
	text-decoration: none;
}

#logoimg {
	margin-left: 24px;
	height: 40px;
}

.colmar {
	font-weight: 500;
}

.academy {
	color: grey;
}

.navItem {

}

/*===============*/
/*bannersection*/
/*===============*/
section {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: grey;
}

.banner {
	width: 60%;
	margin: 24px 32px;
}

.bannerText h1 {
	font-size: 4rem;
	font-weight: 700;
}
 


